<div class = "cont">
<button type="button" class="btn btn-warning my-2 width100" id="addtask">+ Add task</button>
<form id="creatTask" class= "border animHeight" style="height: 0;">
  <div class="form-group">
    <label for="exampleInputEmail1">Text of task</label>
    <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Text of task"></textarea>
  </div>
  <div class="row">
        <div class="form-group col-5">
            <label for="exampleInputPassword1">Status</label>
            <select class="custom-select">
                <option value="1" selected >Waiting</option>
                <option value="2">Unknown</option>
                <option value="3">Done</option>
        </select>
        </div>
        <div class="form-group col-5">
            <label for="exampleInputPassword1">Date</label>
            <input type="date" class="form-control" id="exampleInputDate" placeholder="status" value="{{currentDate}}">
        </div>
  </div>
  <button type="submit" class="btn btn-primary ">Create task</button>
</form>
<table class="table">
 <thead class="thead-dark">
    <tr class="row mx-0">
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-5">Task</th>
      <th scope="col" class="col-2">Status</th>
      <th scope="col" class="col-2">Data</th>
      <th scope="col" class="col-2">Delete</th>
    </tr>
  </thead>
  <tbody id="alltasks">
{{#each tasks}}
 <tr class="row mx-0">
      <th scope="row" class="col-1">{{@index}}</th>
      <td class="col-5">{{this.task}} </td>
      <th scope="col" class="col-2">{{this.status}}</th>
      <th scope="col" class="col-2">{{this.date}}</th>
      <th scope="col" class="col-2">
          <button type="button" class ="btn btn-danger" data-id="{{this._id}}">
             Del task
          </button>
     </th>
 </tr>
{{/each}}
    </tbody>
</table> 
</div>

<script>
const addTask = document.querySelector('#addtask')
const form = document.querySelector('#creatTask')
const task = document.querySelector('#exampleInputEmail1')
const mydate = document.querySelector('#exampleInputDate')
const status = document.querySelector('.custom-select')
const table = document.querySelector('.table')
const alltasks = document.querySelector('#alltasks')



class Tamplate{
    constructor({_id,task,status,date, index}) {
        this._id = _id
        this.task = task
        this.status = status
        this.date = date
        this.index = index
    }
    render() {
        return `
        <tr class="row mx-0">
            <th scope="row" class="col-1">${this.index}</th>
            <td class="col-5">${this.task}</td>
            <th scope="col" class="col-2">${this.status}</th>
            <th scope="col" class="col-2">${this.date}</th>
            <th scope="col" class="col-2">
                <button type="button" class ="btn btn-danger" data-id="${this._id}">
                    Del task
                </button>
            </th>
        </tr>
        `
    }

}


addTask.addEventListener('click', (e)=> {
    addTask.classList.toggle('btn-danger')
  
    if (!e.target.classList.contains('btn-danger')) {
        form.style.height = "0"
        form.style.visibility = "hidden"
        addTask.innerHTML = "+ Add task"   
        form.classList.remove('my-2')
        form.classList.remove('p-2')     
    }else {
        form.style.height = "252px"
        form.style.visibility = "visible"
        addTask.innerHTML = "- Close this window"    
        form.classList.add('my-2')
        form.classList.add('p-2')    
    }
})


form.addEventListener('submit',async (e)=>{
    e.preventDefault()
    let res = await fetch('http://localhost:8001/newtask', {
        method: "POST",
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            task: task.value,
            status: status.options[status.value-1].innerHTML,
            date: mydate.value
        })
        
    })
    let {result, tasks} = await res.json()
    if (result) {
        let listTasks = ''
        tasks.forEach((t,i)=> {
            listTasks += (new Tamplate({...t,index: i})).render() 
        })
        alltasks.innerHTML = listTasks
    }
})

table.addEventListener('click',async (e)=> {
    if (e.target.dataset.id) {
            let res = await fetch('http://localhost:8001/delById', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    _id: e.target.dataset.id,
                })
             })
            let {result, tasks} = await res.json()
            if (result) {
                let listTasks = ''
                tasks.forEach((t,i)=> {
                    listTasks += (new Tamplate({...t,index: i})).render() 
                })
                alltasks.innerHTML = listTasks
            }
    }  
})


</script>