<div class="cont">
  <button type="button" class="btn btn-dark my-2 width100" id="addtask">
    + Add task
  </button>
  <form id="creatTask" class="border animHeight" style="height: 0;">
    <div class="form-group">
      <label for="exampleInputEmail1">
        Text of task
      </label>
      <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Text of task"></textarea>
    </div>
    <div class="row">
      <div class="form-group col-3">
        <label for="exampleInputPassword1">
          Status
        </label>
        <select class="custom-select status">
          <option value="1" selected>
            Waiting
          </option>
          <option value="2">
            Unknown
          </option>
          <option value="3">
            Done
          </option>
        </select>
      </div>
      <div class="form-group col-3">
        <label for="exampleInputPriority">
          Priority
        </label>
        <select class="custom-select priority">
          <option value="1" selected>
            High
          </option>
          <option value="2">
            Middle
          </option>
          <option value="3">
            Low
          </option>
        </select>
      </div>
      <div class="form-group col-3">
        <label for="exampleInputPassword1">
          Date
        </label>
        <input type="date" class="form-control" id="exampleInputDate" placeholder="status" value="{{currentDate}}" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      Create task
    </button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr class="row mx-0">
        <th scope="col" class="col-1 center">
          #
        </th>
        <th scope="col " class="col-3 center-height">
          Task
        </th>
        <th scope="col" class="col-2 center">
          Priotity
        </th>
        <th scope="col" class="col-2 center">
          Status
        </th>
        <th scope="col" class="col-2 center">
          Date
        </th>
        <th scope="col" class="col-2 center">
          Delete
        </th>
      </tr>
    </thead>
    <tbody id="alltasks">
      {{#each tasks}}
        <tr class="row mx-0">
          <td scope="row" class="col-1 center">
            <span>{{this.index}}</span>
          </td>
          <td class="col-3 ver-cont">
            <div class="sb width100 p-1" data-taskedit="{{this._id}}">
              <p class="mb-0">{{this.task}}</p> <button class="btn btn-outline-primary ml-1" data-taskedit="{{this._id}}">
                Edit </button>
            </div>
            <div class="sb width100 p-1 none" data-tasksave="{{this._id}}">
              <textarea type="text" class="form-control" data-task="{{this._id}}"> {{this.task}}</textarea>
              <button class="btn btn-outline-primary ml-1" data-tasksave="{{this._id}}">Save</button>
            </div>
          </td>
          <td scope="col" class="col-2 center priority-id rounded">
            <div class="priority-text">
              <span data-prioritytext="{{this._id}}">{{this.priority}}</span>
              <div class="select">
                <span class="choice-status" data-priority="{{this._id}}">High</span>
                <span class="choice-status" data-priority="{{this._id}}">Middle</span>
                <span class="choice-status" data-priority="{{this._id}}">Low</span>
              </div>
            </div>
          </td>
          <td scope="col" class="col-2 center status-id rounded">
            <div class="status-text">
              <span data-statustext="{{this._id}}">{{this.status}}</span>
              <div class="select">
                <span class="choice-status" data-status="{{this._id}}">Waiting</span>
                <span class="choice-status" data-status="{{this._id}}">Unknown</span>
                <span class="choice-status" data-status="{{this._id}}">Done</span>
              </div>
            </div>
          </td>
          <td scope="col" class="col-2 center">
            <span>{{this.date}}</span>
          </td>
          <td scope="col" class="col-2 center">
            <button type="button" class="btn btn-dark" data-id="{{this._id}}">
              Del task
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script src="/jsfront/classes.js"></script>
<script src="/jsfront/main.js"></script>